section {
    height:100vh;
    width: 100vw;
}

.index{
  background-image: url('../img/fondo.jpg');
  background-size: 100%;
}

.busqueda{
  background-image: url('../img/busqueda.png');
  background-size: 100%;
}

.content-result{
  padding-top: 150px;
}

td{
  color: #fff;
}

.btn-button {
  background-color:#ece2c6;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  border:3px;
  color:#c6a664;
  font-size:17px;
  padding: 5px 10px;
  text-decoration: none;
}

.btn-button:hover{
  background-color:#c6a664;
  color: #fff;
}

.content-search{
  padding-left: 500px;
  padding-top: 300px;
}

.btn-search{
  background-color:transparent;
  border-radius:14px;
  border:3px solid #ece2c6;
  display:inline-block;
  cursor:pointer;
  color:#ece2c6;
  font-size:17px;
  padding:5px 10px;
  text-decoration:none;
}

.btn-search:hover{
  background-color:#c6a664;
  color: #fff;
  text-decoration:none;
  cursor:pointer;
}

.login-input{
  	width: 50%;
  	margin-bottom: 10px;
  	background: #9D3532;
  	border: none;
  	outline: none;
  	padding: 10px;
  	font-size: 17px;
  	color: #fff;
  	text-shadow: 1px 1px 1px #9D3532;
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 4px;
  	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  	-webkit-transition: box-shadow .5s ease;
  	-moz-transition: box-shadow .5s ease;
  	-o-transition: box-shadow .5s ease;
  	-ms-transition: box-shadow .5s ease;
  	transition: box-shadow .5s ease;
}

.login-input::placeholder {
  color: #fff;
}

.form-login{
  margin-top: 20px;
  text-align:center;
}

.btn-form{
  background-color: #9D3532;
  color: #fff;
  border-radius:12px;
  border:3px solid #9D3532;
  display:inline-block;
  cursor:pointer;
  font-size:17px;
  padding:5px 10px;
  text-decoration:none;
}

.btn-form:hover{
  background-color:#D35431;
  border:3px solid #D35431;
  color: #fff;
  text-decoration:none;
  cursor:pointer;
}
